# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# macOS
.DS_Store

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# Python environment
.env

# Generated reports
reports/

# Temporary files
*.log